{% extends 'shows/base.html' %}

{% block head %}
    <title>Shows</title>
{% endblock %}

{% block header%}
    <h1 class="d-flex justify-content-center page-title">New Show</h1>
{% endblock %}

{% block content %} 

        <a class="go-back" href="/shows">Go Back</a>
        <div class="tableFixHead table-wrapper">
                <div class="title-form">Add a New Show</div>
                {% if messages %}
                    <div class="valid-messages">
                        <ul class="messages" id="messages">
                            {% for message in messages %}
                            <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="container-form">
                    <form class="formRegister" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="django-form-wrapper">
                            {{ user_form.as_p }}
                            <br>
                            <p><button type="submit">Register</button></p>
                        </div>
                        
                    </form>
                    <form class="formRegister" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="django-form-wrapper">
                            {{ user_login_form.as_p }}
                            <br>
                            <p><button type="submit">Login</button></p>
                        </div>
                        
                    </form>
                </div>
                
        </div>

{% endblock %}

    